<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="style.css" />
  <title>Alchemis Liqours</title>
</head>
<body>
  <div class="grid-container">
    <header class="header">
      <div class="brand">
             <a href="index.html"> Alchemis Liqours</i>
      </div>
        <div class="header-links">
          <a href="beer.html">Beer</i></a>
          <a href="whiskey.html">Whiskey</i></a>
          <a href="whiskey.html">Brandy</i></a>
          <a href="whiskey.html">Rum</i></a>
          <a href="wines.html">Wines</i></a>
          <a href="spirits.html">Spirits</i></a>
          <a href="vodka.html">vodka</i></a>
          <a href="other.html">others</i></a>
        <link href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" rel="stylesheet">
        <a href="cart.html"></i>
        <i class="fas fa-cart-arrow-down"></i></a>
        <a href="signin.html">Sign in</i></a>
      </div>
    </header>
  </head>
    </header>
    <main class="main">
      <div class="content">
        <ul class="products">
          <li>
            <div class="product">
              <img class="product-image" src="images/4th Street.jpg" alt="product" />
              <div class="product-name">
                <a href="product.html">4th Street</a>
              </div>
              <div class="product-brand">Wine</div>
              <div class="product-price">kSH 3000</div>
              <p></p>
              <p><button>Add to Cart</button></p>
            </div>
          </li>
          <li>
            <div class="product">
              <img class="product-image" src="images/4th Street.jpg" alt="product" />
              <div class="product-name">
                <a href="product.html">4th Street</a>
              </div>
              <div class="product-brand">Wine</div>
              <div class="product-price">kSH 3000</div>
              <p></p>
              <p><button>Add to Cart</button></p>
            </div>
          </li>
          <li>
            <div class="product">
              <img class="product-image" src="images/black label.jpg" alt="product" />
              <div class="product-name">
                <a href="product.html">Black Label</a>
              </div>
              <div class="product-type">Whisky</div>
              <div class="product-price">3000</div>
              <p></p>
              <p><button>Add to Cart</button></p>
            </div>
          </li>
          <li>
            <div class="product">
              <img class="product-image" src="images/kane.jpg" alt="product" />
              <div class="product-name">
                <a href="product.html">Kenya kane</a>
              </div>
              <div class="product-type">spirits</div>
              <div class="product-price">Ksh 700</div>
              <p></p>
              <p><button>Add to Cart</button></p>
            </div>
          </li>
          <li>
            <div class="product">
              <img class="product-image" src="images/tusker.jpg" alt="product" />
              <div class="product-name">
                <a href="product.html">Tusker</a>
              </div>
              <div class="product-brand">Beer</div>
              <div class="product-price">250</div>
              <p></p>
              <p><button>Add to Cart</button></p>
            </div>
          </li>
          <li>
            <div class="product">
              <img class="product-image" src="images/malt tusker.jpg" alt="product" />
              <div class="product-name">
                <a href="product.html">malt tusker</a>
              </div>
              <div class="product-brand">Beer</div>
              <div class="product-price">200</div>
              <p></p>
              <p><button>Add to Cart</button></p>
            </div>
          </li>
        </ul>
      </div>

    </main>
    <div id="footer">
      <div>
        <h3>Call us: +254 725 783259</h3>
        <h3>Email: mikethealchemis@yahoo.com</h3>
	      <h3>Alchemis liqour store</h3>
	      <h3>Thika Gatitu</h3>
      </div>
      <div>
      <div className="header-links">
        <link href="https://use.fontawesome.com/releases/v5.10.2/css/all.css" rel="stylesheet"></link>
        <a href="https://www.gmail.com/"><i className="fas fa-envelope-open fa-2x"></i></a>
        <a href="https://www.facebook.com/AlchemistLiqours/"><i className="fab fa-facebook-f fa-2x"></i></a>
        <a href="https://www.facebook.com/AlchemistLiqours/"><i className="fab fa-instagram fa-2x"></i></a>
        <a href="https://www.facebook.com/AlchemistLiqours/"><i className="fab fa-twitter fa-2x"></i></a>
        <a href="https://wa.me/254725783259"><i className="fab fa-whatsapp fa-2x"></i></a>
        <a href="https://www.facebook.com/AlchemistLiqours/"><i className="fas fa-sms fa-2x"></i></a>
        </div>
      </div>
      <div>
        <h2>@alchemis liqour store 2020.</h2>
        <h2>  All Rights Reserved </h2>

      </div>
    </div>
  <script>
    function openMenu() {
      document.querySelector(".sidebar").classList.add("open");
    }
    function closeMenu() {
      document.querySelector(".sidebar").classList.remove("open")
    }
  </script>
</body>

</html>