@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lemonada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Lemonada&display=swap');
html{
  font-size: 8px; /* 16px * 62.5 = 10px = 1rem */
  box-sizing: border-box;
}
body{
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  margin: 0;
}

input,
button{
  font-size: 1.5rem;
}

.review {
  list-style-type: none;
  padding: 0;
}
.rating-container {
  display: flex;
  align-items: center;
}
.rating {
  margin: .5rem 0;
}
.rating>span {
  display: inline-block;
  position: relative;
  font-size: 2.5rem;
  color: silver;
  line-height: 2rem;
}
input,
button,
textarea,
select {
  font: 1.6rem Helvetica;
}
button {
  cursor: pointer;
}
a {
  color:#414442;
  text-decoration: none;
}
a:hover {
  color: #c04000;
}
.block-center{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.loading{
  z-index: 10;
}

.text-center {
  text-align: center;
}
.text-error{
  color: #f04000;
} 
.text-success{
  color: #008000;
}
.button {
  padding: 1rem;
  border: 0.1rem #808080 solid;
  border-radius: 0.5rem;
}
.button:hover {
  border: 0.1rem #404040 solid;
}
.primary {
  background: #f0c000;
}
.secondary {
  background: #f0f0f0;
}
table{
  width: 100%;
}
th{
  text-align: left;
}
tbody> tr:nth-child(odd){
  background-color: #f0f0f0;

}
td{
  padding: 1rem;
}
.rating-container>div:last-child {
  margin-top: .5rem;
  margin-left: .5rem;
}
.full-width {
  width: 100%;
}
#root{
  height: 100%;
}
.grid-container{
  display: grid;
  grid-template-areas: 
  "header"
  "main"
  "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100vh;
}
.header{
  grid-area: header;
  background-color: #203040;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  
}
.brand a{ 
  color: #ffffff;
  font-family: 'Shadows Into Light', cursive;
  font-size: 3rem;
  font-weight: 400;
  
  text-decoration: none;
}
.brand button{
    color: #fff;
    background: none;
    border: none;
    font-size: 3rem;
    padding: .5rem;
}
.header-links a{
  font-family: 'Lemonada', cursive;
  color:#ffffff;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 1rem;

}
.header-links a:hover{
  color:#ff8000;
}
.badge {
  display: inline-block;
  position: absolute;
  width: 1rem;
  padding: .3rem;
  border-radius: 50%;
  font-size: 1rem;
  text-align: center;
  background: #ff4400;
  color: #fefefe;
  height: 1rem;
  margin-left: -10px;
  top: 5px;
  line-height: 1rem;
}

.main{
  grid-area: main;
}


.main {
  grid-area: main;
}
.content-margined{
  margin: 1rem;
}
.content > h1 {
  margin-left: 2rem;
}
footer{
	font-family: 'Quicksand', sans-serif;
  display: inline-table;
  width: 100%;
  padding: 0;
  border: 0.062em solid #151515;
  grid-area: footer;
  background-color: #0c1a1e;
  color: #ffffff;
  justify-content: center;
  align-items: center;
}

@media (max-height:800px){
	footer { position: static; }
	header { padding-top:40px; }
}


.footer-distributed{
	background-color: #203040;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 50px 50px 60px 50px;
	margin-top: 120px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 30%;
}

.footer-distributed h3{
  
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

/* The company logo */

.footer-distributed .footer-left img{
	width: 30%;
}

.footer-distributed h3 span{
  color: white;
  font-family: 'Shadows Into Light', cursive;
}

/* Footer links */

.footer-distributed .footer-links{
  color:  #ffffff;
  margin: 20px 0 12px;
  font-family: 'Quicksand', sans-serif;
}

.footer-distributed .footer-links a{
  display:inline-block;
	line-height: 1.8;
  text-decoration: none;
  font-family: 'Quicksand', sans-serif;
	color:  inherit;
}

.footer-distributed .footer-company-name{
  color:  #8f9296;
  font-size: 14px;
  font-family: 'Quicksand', sans-serif;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}


.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
  font-family: 'Quicksand', sans-serif;
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
  color:  white;
  font-family: 'Quicksand', sans-serif;
	text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
  font-family: 'Quicksand', sans-serif;
	width: 30%;
}

.footer-distributed .footer-company-about{
  font-family: 'Quicksand', sans-serif;
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* Here is the code for Responsive Footer */
/* You can remove below code if you don't want Footer to be responsive */


@media (max-width: 880px) {

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}

a{
  color: #414442;
  text-decoration: none;
}
a:hover{
  color:#ff8000
}
.sidebar {
  transition: all 0.2s;
  transform: translateX(-30rem);
  position: absolute;
  background-color: #203040;
  height:120%;
  width: 30rem;
}
.sidebar.open {
  z-index: 1;
  transform: translateX(0);
}
.sidebar-menu-close{
  border-radius: 40%;
  height: 3rem;
  width: 3rem;
  padding: 0;
  border: 0.1rem solid #000000;
}
.categories{
  list-style-type: none;
  color:white;
  padding: 0;
}
.category-links a{
  font-family: 'Quicksand', sans-serif;
  color: #414442;
  font-weight :300;
  color:#ffffff;
  text-decoration: none;
  font-size: 1.8rem;
  padding: .5rem;

}
.categories>li:first-child{
  display: flex;
  color:white;
  justify-content: space-between;
  align-items: center;
  padding: 0 0rem;
}
.categories > li> a{
  padding: 1rem;
  color:white;
  display: flex;
}
.categories > li>a:hover{
  background-color: white;
}

.header-link {
  padding: 1rem;
  color: #ffffff;
  font-weight: bold;
}
/* Home Screen */
.products {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items:flex-start;
  flex-wrap: wrap;
  padding: 0;
  flex-grow: 2;
  flex-basis: 16%;
  display: flex;
  align-self: flex-start;
}
.products li {
  align-self: flex-start;
  flex-direction: row;
  padding: 0;
  flex: 1 1 38rem;
  margin: .1rem;
  max-width: 100%;
  display:grid;
  height: 100%;
}
.product{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
}

.product-name{
  font-family: 'Quicksand', sans-serif;
  color: #0066c0;
  font-size: 18px;
  font-weight :300;
}
.product-brand{
  font-size: 1.2rem;
  color:#808080;
}
.product-price{
  font-family: 'Quicksand', sans-serif;
  color: #333835;
  font-size: 1.6rem;
  font-weight: bold;
}
.product-image
  { max-width: 70%; height: auto; }
.product-rating{
  margin-bottom: 1.2rem;
}
.product-buy{
  color: #414442;
  font-size: 1.5rem;
  font-weight: bold;
}
@media (max-width: 880px) {

	.products li{
	align-self: flex-start;
  flex-direction:row;
  padding: 0;
  flex: 1 1 28rem;
  margin: .1rem;
  max-width: 45%;
  display:block;
  height: 100%;
	}

	.products li{
		margin-left: 0;
	}

}
.icon
  {
     max-width: 7%; height:auto; }

.message{
      font-family: 'Quicksand', sans-serif;
      color: #414442;
      font-size: 12px;
      font-weight :200;
    }
    
/* details */
.products-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -1rem;
}
.details{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 0;
}
.details-image > img {
  max-width: 55rem;
  width: 100%;
}

.details-image {
    max-width: 100%;
    height: auto;
  }
.details-info {
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  font-size:large;
  padding: 1rem;
  margin: 1rem;
  flex: 1 1 38rem;
}
.details-info h3 {
  margin-bottom: 0;
}
.details-action {
  font-family: 'Inconsolata', monospace;
  font-weight: 500;
  font-size:large;
  flex: 1 1 30rem;
  padding: 1rem;
  margin: 1rem;
  border-radius: 0.5rem;
}
.details-info ul, .details-action ul{
  list-style-type: none;
  padding: 1rem;
}
.details-info li, .details-action li{
  margin-bottom: 1rem;
}
.back-to-result {
  padding: 1.5rem;
  font-size: large;
}
.details-action{
  border: .5rem #808080 solid;
  border-radius: 0.5rem;
  background-color: #f8f8f8;
  padding: 1rem;
}
.details-action ul li:last-child{
  display: flex;
  flex-direction: column;
}
.button{
  padding: 1rem;
  border: .1rem #808080 solid;
  border-radius: 0.5rem;
  cursor: pointer;
}
.button:hover{

  border: .1rem #404040 solid;
}
.button.primary{
  background-color: #80b878;
}
.button.secondary{
  background-color: #f0f0f0;
}
.text-center{
  text-align: center;
}
.review{
  list-style-type: none;
  padding: 0;
}
.review li {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

/* Rating */
.rating-container {
  display: flex;
  align-items: center;
}
.rating-container > div:last-child{
  margin-top: .5rem;
  margin-left: .5rem;
}
.rating{
  margin: .5rem 0;
}
.rating > span {
  display: inline-block;
  position: relative;
  font-size: 2.5rem;
  color: #c0c0c0;
  line-height: 2rem;
}
.rating > span.active:before{
   content: "\2605";
   position: absolute;
   color:#F0C000
} 

/* Cart */

.cart{
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
  align-items: flex-start;
}
.cart-list{
  flex: 3 1 60rem;
}
.cart-action{
  flex:1 1 20rem;
  background-color: #f0f0f0; 
  border-radius: .5rem;
  padding: 1rem;
}
.cart-list-container {
  padding: 0;
  list-style-type: none;
  padding: 1rem;

}
.cart-list-container  li{
  display: flex;
  justify-content: space-between;

  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom:.1rem #c0c0c0 solid;
}
.cart-list-container  li img{
  max-width: 10rem;
  max-height: 10rem;
}
.cart-list-container  li:first-child{
display: flex;
justify-content: space-between;
align-items: flex-end;
}
.cart-image{
  flex: 1 1;
}
.cart-name{
  flex: 8 1;
}
.cart-price{
  flex: 1 1;
  font-size: 2.5rem;
  text-align: right;
}

/* forms */

.form{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.form-container{
  display: flex;
  flex-direction: column;
  width:32rem;
  padding: 2rem;
  border: .1rem #c0c0c0 solid;
  border-radius: .5rem;
  list-style-type: none;
}

.form-container li{
  display: flex;
  flex-direction: column;
  margin-bottom: .2rem;
  margin-top: .2rem;

}
input{
  padding: 1rem;
  border: .1rem #c0c0c0 solid;
  border-radius: .5rem;
}


/* Products */

.product-header{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

}

.content-margined{
  margin: 1rem;
}

.table{
  width: 80%;
}
th{
  text-align: left;
}
tbody>tr:nth-child(odd){
  background-color: #f0f0f0;
}

/* Checkout Steps */

.checkout-steps{
  display: flex;
  justify-content: space-between;
  width: 40rem;
  margin: 1rem auto;
 
}
.checkout-steps > div{
  border-top: .3rem #c0c0c0 solid;
  color: #c0c0c0;
  flex: 1 1;
  padding-top: 1rem;
}
.checkout-steps > div.active{
  border-top: .3rem #f08000 solid;
  color: #f08000;
}

/* Place Order */

.placeorder{
  display: flex;
  flex-grow: wrap;
  padding: 1rem;
  justify-content: space-between;
}
.placeorder-info{
  flex: 3 1 60rem; 
}
.placeorder-action{
  flex: 1 1 20rem;
  border: .1rem #c0c0c0 solid;
  border-radius: .5rem;
  background-color: #fcfcfc;
  padding: 1rem;
}
.placeorder-info > div{
  border: .1rem #c0c0c0 solid;
  border-radius: .5rem;
  background-color: #fcfcfc;
  padding: 1rem;
  margin: 1rem;
}
.placeorder-info > div:first-child{
  margin-top: 0;
}
.placeorder-action > ul {
  padding: 0;
  list-style-type: none;
}
.placeorder-action > ul > li{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.placeorder-action > ul > li:last-child{
    font-size: 2rem;
    font-weight: bold;
    color: #c04000;
}
.placeorder-actions-payment > div {
  width: 100%;
}

/* Profile */

.profile{
  display: flex;
  flex-wrap: wrap;
}

.profile-info{
  flex: 1 1 30rem;
}
.profile-orders{
  flex: 3 1 60rem;
}

/* admin */
.dropdown{
  display: inline-block;
  position: relative;
}
.dropdown-content{
  position: absolute;
  display: none;
  right:0;
  padding: 1rem;
  list-style-type: none;
  z-index: 1;
  background-color: #203040;
  margin:0;
  margin-top:0.4rem;
}
.dropdown:hover .dropdown-content{
  display: block;
}

/* filter */

.filter{
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 1rem auto;
  max-width: 45rem;
  justify-content: space-between;
  align-items: center;

}
.filter input,
.filter button,
.filter select{
  padding: 1rem;
  border-radius: 0.5rem;
  border:.1rem #c0c0c0 solid;
  font-size: 1.6rem;

}
.categories{

  padding: 0;
  list-style-type: none;
}
.categories a{
  display: flex;
  padding: 1rem;
}

.categories a:hover{
  background-color: #c0c0c0;
}

